.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 300px;
  width: 700px;
  border-radius: 20px;
}
.card_big {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 600px;
  width: 700px;
  border-radius: 20px;
}

.wrapper {
  background-color: chocolate;
  padding: 60px;
  border-radius: 20px;
}
